---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About" description="关于我" />
	</head>
	<body>
		<Header/>
		<main id="main">
			<h1>About</h1>
			<p>说一些自己想说的话，记录一些想记的事情</p>
			<p>Share what I want to say, record what I want to remember.</p>
		</main>
		<Footer />
	</body>
</html>
